body {
    margin: 0 auto;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    margin-left: 44px;
    text-decoration: none;
    color: black;
}

#cover {
    display: flex;
    align-items: center;
    background-image: url(/pics/cover.png);
    color: white;
    height: 100vh;
    background-size: cover;
}