body {
    font-family: "Jost", sans-serif;
    margin: 0 auto;
    background-image: url(pics/cover.png);
    width: 100vh;
    background-size: cover;
}

.container {
    justify-content: flex-start;
    align-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    margin-left: 44px;
    text-decoration: none;
    color: black;
}

#cover {
    display: flex;
    align-items: center;
    color: white;
}

.container nav {
    font-size: 24px;
}